.sidebar {
  width: 240px;
  padding: 0.5rem;
  border-right: 1px solid #E5E5E5;
  /* background-color: #f9f9f9; */
  height: 100%;
  overflow-y: auto;
}

.checkbox{
  display: flex;
}

.checkbox h5{
  margin-left:  10px;
}
.heading {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 1rem;
}

/* Responsive: hide sidebar on smaller screens if not toggled */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #eee;
  }
}
