.filterTab {
  border-bottom: 1px solid #ddd;
 
}

.tabHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;

  padding: 0.75rem 0;
}

.tabHeader h3 {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  line-height: 100%;
  letter-spacing: 0px;
  color: #252020;
  margin-bottom: 10px;
}

.icon {
  width: 16px;
  height: 16px;
  transform: rotate(90deg);
  color: #292D32;
}

.options {
  padding-left: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.option {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #252020;
  padding: 0.2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  
}
